{% if site.data.projects %}
<section class="section projects-section">

  <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>

  {% for intro in site.data.projects %}
  <div class="intro">
      <p>{{ intro.description }}</p>
  </div><!--//intro-->
  {% endfor%}

  {% for project in site.data.projects %}
    <div class="item">

      <span class="project-title"><a href="{{ project.link }}">{{ project.title }}</a></span>

      {% if project.tagline %}
      - <span class="project-tagline">{{ project.tagline }}</span>
      {% endif %}

    </div><!--//item-->
  {% endfor %}
  
    <div class="meta">

      <div class="upper-row">
        <h3 class="job-title">{{ project.role }}</h3>
        <div class="time">{{ project.time }}</div>
      </div><!--//upper-row-->

      <div class="company">{{ project.company }}</div>

    </div><!--//meta-->

    {% if project.details %}
    <div class="details">
      <p>{{ project.details }}</p>
    </div><!--//details-->
{% endif %}
  
  

</section><!--//section-->
{% endif %}
